# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.local
uploads/

# Alembic
migrations/versions/*.py
!migrations/versions/.gitkeep

# IDE
.idea/
.vscode/

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
